<form #expenseform="ngForm" (ngSubmit)="createNewExpenses()">
  <div class="form-group row g-3">
    <div class="col-auto">
      <div class="date-picker">
        <input
          required
          name="date"
          [(ngModel)]="newExpense.date"
          matInput
          [matDatepicker]="picker"
          class="form-control"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="month"></mat-datepicker>
      </div>
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="col-auto">
      <select
        required
        name="type"
        [(ngModel)]="newExpense.type"
        id="inputState"
        class="form-control"
      >
        <option value="">Select Type</option>
        <option>Utilities</option>
        <option>Travel</option>
        <option>Misc</option>
      </select>
    </div>
    <div class="col-auto">
      <select
        required
        name="method"
        [(ngModel)]="newExpense.method"
        id="inputState"
        class="form-control"
      >
        <option value="">Select Method</option>
        <option>Cash</option>
        <option>Credit Card</option>
        <option>Digital Wallet</option>
      </select>
    </div>
    <div class="col-auto">
      <input
        name="description"
        [(ngModel)]="newExpense.description"
        type="text"
        maxlength="40"
        class="form-control"
        placeholder="Description"
      />
    </div>
    <div class="col-auto">
      <input
        required
        min="1"
        name="amount"
        [(ngModel)]="newExpense.amount"
        type="number"
        class="form-control"
        placeholder="Amount"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button
        [disabled]="expenseform.invalid"
        type="submit"
        class="btn btn-primary add-expense"
      >
        Add
      </button>
    </div>
  </div>
</form>
