form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin:  0 auto;
    padding: 0 2rem;
    height: 100%;
    gap:1rem;
}
.button-grp{
    display: flex;
    gap:1rem;
    justify-content: center;
}