<form>
  <div class="form-group row">
    <div class="row">
      <div class="col-2">
        <div class="date-picker">
          <input matInput [matDatepicker]="picker" class="form-control" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month"></mat-datepicker>
        </div>
      </div>
      <div class="col-2">
        <select id="inputState" class="form-control">
          <option selected>Type</option>
          <option>Utilities</option>
          <option>Travel</option>
          <option>Misc</option>
        </select>
      </div>
      <div class="col-2">
        <select id="inputState" class="form-control">
          <option selected>Method</option>
          <option>Cash</option>
          <option>Credit Card</option>
          <option>Digital Wallet</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Description" />
      </div>
      <div class="col-2">
        <input type="text" class="form-control" placeholder="Amount" />
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 button-group">
      <button type="submit" class="btn btn-primary">Add Expense</button>
      <button type="button" routerLink="/" class="btn btn-secondary">
        Go Back
      </button>
    </div>
  </div>
</form>
