form{
    padding: 2rem;
}
.button-group{
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    gap:1rem;
}
.date-picker{
    display: flex;
    width: 100%;
    position: relative;
}
mat-datepicker-toggle{
    position: absolute;
    right: 0;
}
