<div class="content-wrapper">
  <div class="button-group">
    <button type="button" class="btn btn-success" routerLink="add-expense">
      New Expense
    </button>
    <button type="button" routerLink="/expenses" class="btn btn-secondary">
      Close
    </button>
  </div>
  <router-outlet></router-outlet>
  <!-- <div
    class="spinner-border text-primary"
    role="status"
    *ngIf="spinnerService.visibility | async"
  ></div> -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Method</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let expense of totalExpenses
            | slice
              : (options.page - 1) * options.pageSize
              : options.page * options.pageSize;
          let i = index
        "
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ expense.date | date : "longDate" }}</td>
        <td>{{ expense.type }}</td>
        <td>{{ expense.method }}</td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.amount }}</td>
      </tr>
      <tr *ngIf="!totalExpenses?.length">
        <td colspan="5" class="text-center p-5">No records found</td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
      <li class="page-item" [ngClass]="{ disabled: options.page === 1 }">
        <a class="page-link" (click)="prev()">Previous</a>
      </li>
      <ng-container *ngIf="totalExpenses">
        <li
          class="page-item"
          *ngFor="let number of numbers"
          [ngClass]="{ active: options.page === number }"
        >
          <a class="page-link" (click)="to(number)">{{ number }}</a>
        </li>
      </ng-container>
      <li
        class="page-item"
        [ngClass]="{ disabled: options.page === numbers.length }"
      >
        <a class="page-link" (click)="next()">Next</a>
      </li>
    </ul>
  </nav>
</div>
